.items {
    

    border-radius: 11px;
    
    box-shadow:  5px 5px 6px lightblue, 
                -5px -5px 6px lightblue;
    border: none;            
    margin-bottom: 20px;
    padding: 20px;
}